<!DOCTYPE html>
<html>
<head>
  <title>Update Student Age</title>
</head>
<body>
  <form action="/student/age" method="POST">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="age" placeholder="Updated Age">
    <button type="submit">Save</button>
  </form>
</body>
</html>